:root {
  --primaryColor: #83c434;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background-color: #eee;
}

#logo {
  display: flex;
  align-items: center;
}

#logo p {
  font-size: 1.5rem;
}

#nav-item {
  width: 45%;
}

#nav-item ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#nav-item ul li {
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
}

#nav-item > ul > li:hover {
  cursor: pointer;
  color: var(--primaryColor);
}

@media screen and (max-width: 786px) {
  #mob {
    position: absolute;
  }

  nav label {
    position: absolute;
    right: 2rem;
    top: 13px;
  }

  .line {
    width: 2rem;
    height: 5px;
    background-color: black;
    margin: 5px 0;
    transition: 0.5s;
  }

  input[type="checkbox"]:checked + label > .top {
    transform: translatey(10px) rotate(45deg);
  }

  input[type="checkbox"]:checked + label > .middle {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked + label > .bottom {
    transform: translatey(-10px) rotate(-45deg);
  }

  #nav-item ul {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    width: 200px;
    height: 400px;
    right: 0;
    top: 4rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }

  #nav-item li {
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  input[type="checkbox"]:checked ~ ul {
    visibility: visible !important;
  }
}

@media screen and (min-width: 786px) {
  #nav-item > ul > li::after {
    content: "";
    width: 100%;
    background-color: #83c434;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
  }

  #nav-item > ul > li:hover::after {
    height: 3px;
  }
}

#mob {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assests/malte-helmhold-O7rDKJQdgOw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
